<div class="container">

<!--
 <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <label>Nom Produit </label>
    <input type="text" class="form-control" [(ngModel)]="nameBoat" name="nameBoat" class="form-control">
    <button type="submit" (click)="searchBoats()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
    </div>
</form>

<form class="form-group">
    <div class="form-group mx-sm-3 mb-2 mt-2">
    <input class="form-control" placeholder="Filtrer par nom" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
    </div>
</form>
-->

<form class="form-group">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
    <input [(ngModel)]="searchTerm" placeholder="Rechercher un bateau" name="searchTerm" class="form-control" >
    </div>
</form>


<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr> <th>Id</th><th>Nom</th> <th>Prix</th>  <th>Date Création</th><th>Catégorie</th> </tr>
            </thead>
            <tbody *ngFor="let boat of boats | filter:searchTerm">
                <tr>
                    <td>{{boat.idBoat}}</td>
                    <td>{{boat.nameBoat}}</td>
                    <td>{{boat.priceBoat}}</td>
                    <td>{{boat.dateNavigation | date: 'dd/MM/yyyy'}}</td>
                    <td>{{boat.description}}</td>
                    <td><a class="btn btn-primary" [routerLink]="['/update-boat', boat.idBoat]"> Modifier</a></td>
                    <td><a class="btn btn-danger" (click)="deleteBoat(boat)"> Supprimer</a></td>


                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>